<div>
<div class="input-group input-group-lg">
  <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="userName" (keyup)="filterUsers()">
</div>

<div *ngIf="users">
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>User Name</th>
    </tr>
  </thead>  
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.username}}</td>
    </tr>
</table>
</div>
</div>